body{
	background-color:#111;
	background:url('space.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:initial;
	color:white;
	font-family:Tahoma;
}

h1{
	margin-top:7.5%;
	text-align: center;
	font-family: 'Bangers', cursive;
	font-size: 56px;
}

.container_form{
	margin-top:5%;
	width:50%;
	height:10em;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:1em;
}

.file_upload_field{
	display:block;
	background-color:rgba(0,0,0,0.7);
	border-style:solid;
	border-width:2px;
	border-color:white;
	width:98%;
	color:white;
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
}

.submit_button{
	margin-top:3em;
	display:block;
	background-color:rgba(0,0,0,0.7);
	border-style:solid;
	border-width:2px;
	border-color:white;
	width:100%;
	color:white;
	padding:5px;
	padding-top:15px;
	padding-bottom:15px;
	font-size: 18px;
}

.convert_text{
	text-align: center;
}